<%-include('../Includes/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/CSS/style.css">
</head>
<body>
    <%-include('../Includes/navigation.ejs')%>
      <center>
        <div class="outerdiv">
            <div class="formsec">
            <form action="/postEditedValue" method="POST" enctype="multipart/form-data">
                <h1>Edit Product</h1>
                <label for="name">Product Name:</label><br>
                <input type="text" name="name" value="<%=data.pName%>"><br><br>
                <label for="price">Product Price:</label><br>
                <input type="text" name="price" value="<%=data.pPrice%>"><br><br>
                <label for="description">Product Description:</label><br>
                <input type="text" name="description" value="<%=data.pDesc%>"><br><br>
                <label for="image">Product Images:</label><br>
                <i class="fa-solid fa-cloud-arrow-up"></i><input type="file" name="image" value="../../<%=data.pImage%>"><br><br>
                <input type="hidden" name="id" value="<%=data._id%>">
                <input type="submit" value="UPDATE PRODUCT NOW">
            </form>
        </div>
        </div>
        </center>


    <%-include('../Includes/footer.ejs')%>